<div class="container">
  <div class="row">
    <h1 class="text-center gold-shadow">About Paul</h1>
    <div class="col-sm-12">
      <article class="text-justify">
        <!--<section>-->
          <img id="about-img" src="https://res.cloudinary.com/dl4upkour/image/upload/v1485288226/ZeiserWedding2_xiffqb.jpg" alt="Wedding">
          <p>
          Paul Goldman is an acclaimed pianist, singer, and music instructor from Chicagoland. His incredible versatility
          is the result of lifelong musical study. A master sightreader as well as ear player, Paul has performed solo and alongside 
          Chicago's most in-demand Dueling Pianos and jobbing bands, playing at hundreds of weddings, birthdays, parties, and 
          corporate functions. 
          </p>
        <!--</section>-->
        <br>
        <p>
          Born in Moscow, Russia, Paul began playing the piano at age 4. Throughout his childhood, Paul expanded his musical understanding
          by listening to as much music as he could get his hands on. He graduated from Columbia College in 2011 with a Bachelor of 
          Music in Contemporary Urban Pop. At Columbia, Paul performed alongside many established artists including bass virtuoso 
          Christian McBride, drummer Peter Erskine (Weather Report), Fred Wesley (trombonist for James Brown), Kevin Eubanks (leader
          of the Tonight Show Band), and Charlie Sexton (guitarist for Bob Dylan).
        </p>
        <br>
        <p>
          Paul has worked with an eclectic selection of musicians in the Chicagoland area.
          Here are some of the great local artists Paul has worked with:
        </p>
        <br>
        <!--<ul>-->
          <li class="about-artist-list">| Classic rock cover band 
            <a href="https://www.secondtimearoundmusic.com/" target="blank">Second Time Around</a> | </li>
          <li class="about-artist-list">Russian Cabaret singer 
            <a href="https://www.youtube.com/watch?v=RvJD36oYcZ4" target="blank">Tanya Melamed</a> | </li>
          <li class="about-artist-list">Rapper 
            <a href="https://rhymesayers.com/artists/psalmone" target="blank">Psalm One</a> | </li>
          <li class="about-artist-list">Klezmer band 
            <a href="http://klezmerband.com/" target="blank">Maxwell Street Klezmer Band</a> | </li>
          <li class="about-artist-list">Alternative/Jam/Reggae band 
            <a href="https://soundcloud.com/flowtheory" target="blank">Flow Theory</a> | </li>
          <li class="about-artist-list">Argentine Bandoneon virtuoso 
            <a href="https://www.youtube.com/watch?v=zBtdAWUOsNM" target="blank">Richard Scofano</a> |</li>
        <br>
        <br>
        <p>
          Some of the restaurants and bars Paul has played at include: <a href="http://www.thezebralounge.net/">The Zebra Lounge</a>,
          <a href="http://www.seasons52.com/locations/il/oak-brook/oak-brook/4522">Seasons 52</a>, 
          <a href="http://www.redheadpianobar.com/">The Redhead</a>, <a href="http://www.hugosfrogbar.com/">Hugo's Frog Bar</a>,
          <a href="http://www.citywinery.com/chicago/">City Winery</a>, <a href="https://www.riverscasino.com/desplaines/">Rivers Casino</a>,
          and MANY more.

          Paul currently teaches piano & music theory lessons, performs at dozens of Chicagoland senior living communities, and is a regular entertainer at the 
          <a href="https://www.cinemark.com/vip-the-rhythm-room.aspx" target="blank">Rhythm Room</a> (Evanston) and 
          <a href="http://www.bigshotpianolounge.com/" target="blank">Big Shot Piano Lounge</a> (Arlington Heights). Make sure to 
          check out the calendar to find out when you can see Paul perform next!
        </p>
        <br>

      </article>
    </div>
  </div>
</div>