<div class="container text-center">
  <div class="well">
    <h1>About Paul</h1>
    <p>
      We are DevMatch. Our company focuses on creating an exclusive community 
      for developers, investors, and entrepreneurs to meet. 
    </p>
  </div>
</div>