<div class="container text-center">
  <div class="row">
    <h1>About Paul</h1>
    <div class="well">
      <article>
      Paul Goldman is an acclaimed pianist, singer, and instructor in Chicago. His incredible versatility is the product of 24 years of playing, which has led him to pursue a solo career as well as perform with great artists from all over the musical spectrum.

Born in Moscow, Russia, Paul began singing and playing the piano at age 4. From a young age, he was surrounded by many diverse styles of music, ranging from Classical to Jazz to Pop/Rock (bands like The Beatles, Queen, and ABBA were his parents’ favorites)… and plenty of Russian music. Paul formed his first rock band in high school – “The Sharpshooters”. After studying Computer Science and Economics at Northwestern University, Paul realized his real passion was music and transferred to and graduated from Columbia College with a Bachelor of Music in Contemporary Urban Pop. While still a student, Paul performed with many established artists including jazz virtuoso Christian McBride, Peter Erskine (drummer for Weather Report), Fred Wesley (trombonist for James Brown), Kevin Eubanks (leader of the Tonight Show Band), and Charlie Sexton (guitarist for Bob Dylan).

Following graduation, Paul set a goal to pursue music in all capacities as a full time career. He began seeking out different musicians to play with. Here is a sample list of the diverse, eclectic musicians he’s worked with:

– Keyboardist with Russian Cabaret singer Tanya Melamed
– Keyboardist with Classic rock cover band “Second Time Around”
– Keyboardist with Alternative/Jam/Reggae band “Flow Theory”
– Keyboardist with Rhymesayers rapper Psalm One
– Pianist with Klezmer band “Maxwell Street Klezmer Band”
– Pianist with bandoneon virtuoso Richard Scofano (Tango/Argentine Folk)

Paul’s abilities have allowed him a wide array of musical work opportunities. He was the accompanist for Maine South High School’s 2015 production of “Big Fish”, as well as the accompanist for regular services and Bar/Bat Mitzvahs with Congregation Sukkat Shalom. In addition to playing numerous ceremonies and cocktail hours as a solo artist, Paul has played with some of Chicago’s best-known jobbing bands (playing weddings, birthdays, corporate events, etc). He is a member of Windy City Dueling Pianos and Chicago Dueling Pianos. Paul also regularly performs at many senior living communities around the greater Chicagoland area.

Paul is the former house pianist at Chicago’s Tip Top Inn and is currently a regular entertainer at the Zebra Lounge, Hugo’s Frog Bar, and Seasons 52 Steakhouse. Make sure to check out the calendar to find out where you can see Paul perform!

Besides performing, Paul is also a private music instructor who teaches piano, ear training, and musicianship to students of all ages. Paul instills in his students a passion for learning, playing, and understanding different types of music. He elegantly communicates the nuances of each style and guides his students to develop their own methods of understanding concepts such as rhythm, harmony, and improvisation. Most of all, Paul loves helping his students realize their own musical goals with maximum efficiency. His pupils have the privilege of receiving a customized version of a song of their choice – all from day 1. Paul understands the far-reaching advantages of an early musical education and is dedicated to empowering his students’ lives through music.

Paul currently resides in Skokie, IL with his wife, son, and chihuahua.
      </article>
    </div>
  </div>
</div>