<div class="container">
    <div class="row text-center">
        <h1>Book Paul</h1>
        <iframe src="https://www.gigmasters.com/requestquote?type=portable&memberId=139240&width=902" width="902" height="626" style="border:1;margin:16px;"></iframe>
        <!--<iframe src="https://www.gigmasters.com/requestquote?type=portable&memberId=139240" width=800 height=800 style="border:0;margin:16px;"></iframe>-->
    </div>
</div>