<div class="container">
    <h1 class="text-center">Book Paul</h1>
    <div id="booking">
        <iframe src="https://www.gigmasters.com/requestquote?type=portable&memberId=139240&width=300" width="300" height="626" scrolling="yes"></iframe>
        
        <!-- USE FOR MOBILE LAYOUT -->
        <!--<iframe src="https://www.gigmasters.com/requestquote?type=portable&memberId=139240&width=902" width="max" height="626" scrolling="yes"></iframe>-->
    </div>
</div>