<% content_for :title, "Calendar" %>

<script>
$(function(){
    $('#calendar').fullCalendar({
        googleCalendarApiKey: 'AIzaSyBqh_ikWkk1ZCa8_dGxXcZvx_bOJBA0Fes',
        events: {
            googleCalendarId: 'gm4cesvlmj3m52ctp22u270t50@group.calendar.google.com'
        }
    });
})
    
</script>

<div class="container">
    <div class="row">
        <h1 class="text-center gold-shadow">Upcoming Shows</h1>
        <div id="calendar">
            
        </div>
        <!--<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=gm4cesvlmj3m52ctp22u270t50%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>-->
    </div>
</div>
