<% content_for :title, "FAQ" %>

<script>
    $(function() {
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          }
        }
    });
</script>

<div class="container">
    <div class="row">
        <h1 class="text-center gold-shadow">FAQ</h1>
        <div class="col-md-6 col-md-offset-3">
            <button class="accordion accordion-question">What styles of music can you play?</button>
            <div class="panel">
              <p> All of them! I cover Top 40, Pop, Classic & Hard Rock, Electronic, Soul, Disco, R&B, Country, Classical, European, 
              Jewish, Jazz, Latin, and more! Check out the <a href="/songlist">song list</a> for a more detailed list.</p>
            </div>
            
            <button class="accordion accordion-question">Can I see you perform live before deciding to book?</button>
            <div class="panel">
              <p>Of course! In addition to seeing me at any of my <a href="/calendar">public shows</a>, I happily offer
              a FREE 1-on-1 video chat session with all prospective clients (using Skype, Facetime, or Facebook Video) at
              any time prior to booking. You will get to see and hear me play whatever you'd like, chat face to face, and 
              discuss any questions or event details you'd like. </p>
              <p>This way, you can rest assured as to the quality of music your event would be getting. </p>
            </div>
            
            <button class="accordion accordion-question">There are songs I want played at my event which are not on your 
            song list. Are you able to learn a piece of music for me?</button>
            <div class="panel">
              <p> Absolutely! I am always happy to learn new music and expand my repertoire. I'm also happy to take requests from you or your guests 
              throughout your event.</p>
            </div>
            
            <button class="accordion accordion-question">What equipment can you provide to an event?</button>
            <div class="panel">
              <p>I can provide a <a href="http://a.co/co6a85f" target="blank">Nord Stage 2</a> or 
              <a href="http://a.co/6LKNpzn" target="blank">Casio Privia PX-5S</a> keyboard, 
              a <a href="http://a.co/9uSeQNP" target="blank">QSC K10</a> speaker, a 
              <a href="http://a.co/70erNu7" target="blank">Shure Beta SM58</a> microphone, along with any necessary accessories. 
              I'm also happy to play on any piano or keyboard that you provide. </p>
            </div>
            
            <button class="accordion accordion-question">Are you accepting any piano students?</button>
            <div class="panel">
              <p>I am currently accepting a limited number of intermediate-advanced piano students. Please 
              <a href="/contact-paul">contact</a> me for more details. </p>
            </div>
            
            <button class="accordion accordion-question">What forms of payment do you accept?</button>
            <div class="panel">
              <p>I currently accept cash, check, Chase Quikpay, and Paypal. </p>
            </div>
            
            <button class="accordion accordion-question">Do you require a deposit?</button>
            <div class="panel">
              <p>I generally require a 20% deposit to reserve the date. </p>
            </div>
             
        </div>
    </div>
</div>
