<div class="home-callout text-center ">
    <h1>Paul Goldman</h1>
    <h3>Musician | Web Developer</h3>
    <br><br>
    <%= image_tag("Paul-Home-Pic.JPG", :alt => "PaulGoldman", :style => "height: 50%; width:50%; border: 3px solid white; border-radius: 50%") %>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 offset-4">
            <div class="well">
                <img src="https://www.dropbox.com/s/chabwvds5p5hssq/DSC_0019%20copy.jpg?dl=0"/>
            </div>
        </div>
    </div>
</div>