
    <div id="home-image">
        
        
        <!--<img class="home-image" src="https://res.cloudinary.com/dl4upkour/image/upload/c_scale,w_1507/v1485288229/PaulGoldmanMainCROPPED.jpg" alt="home-image" >-->
        <div class="container">
            <div class="jumbotron text-center vertical-center">
                <!--<img src="https://res.cloudinary.com/dl4upkour/image/upload/v1485445956/Twitch_BANNER.png">-->
                <div container>
                <h1 id="home-name" >Paul Goldman</h1>
                <h3 id="home-sub-title"><span class="white"> | </span>Music Professional 
                                        <span class="white"> | </span>
                </div>
            </div>
        </div>
    </div>
    

