<div id="home-minus-background" class="text-center background-none">

    <div>
        <img class="home-image" src="https://res.cloudinary.com/dl4upkour/image/upload/c_scale,w_1507/v1485288229/PaulGoldmanMainCROPPED.jpg" alt="home-image" >
        <h1 id="home-name">Paul Goldman</h1>
        <h3 id="home-sub-title">Music Professional | Entertainer | Educator</h3>
   </div>
   
   <!--<h1 id="home-name">Paul Goldman</h1>-->
   <!--<h3 id="home-sub-title">Music Professional | Entertainer | Educator</h3>-->
   <br>
</div>
