<div class="container">
    <div class="row">
        <h1 class="text-center">Song List</h1>
        <div class="col-md-6 col-md-offset-3 ">
            <div class="well">
                <%=
                
                hash = JSON.parse '[
                    {
                        "testcol1": "a",
                        "testcol2": "d"
                    },
                    {
                        "testcol1": "b",
                        "testcol2": "e"
                    },
                    {
                        "testcol1": "c",
                        "testcol2": "f"
                    }
                ]'
                
                %>
            </div>
        </div>
    </div>
</div>