<div class="container">
    <div class="row">
        <h1 class="text-center">Song List</h1>
        <div class="col-md-6 col-md-offset-3 ">
            <div class="well">
                <%=
                require 'json'
                hash = JSON.parse ''.to_json
                
                %>
            </div>
        </div>
    </div>
</div>