<% content_for :title, "Video" %>

<script>
  
  $(function() {
    $('a').on('click', function() {
      // console.log("TEST");
      vid[0].pause();
    })
    
    var vid = $("#videoarea");
    var playlistLink = $("#playlist li");
    
    playlistLink.on("click", function() {
       vid.attr({
            "src": $(this).attr("movieurl"),
            "poster": "",
        })
        vid[0].play();
    })
    vid.attr({
        "src": playlistLink.eq(0).attr("movieurl"),
        "poster": playlistLink.eq(0).attr("moviesposter"),
    })
    vid.on("click", function(){
      if (vid[0].paused)
        vid[0].play();
      else 
        vid[0].pause();
    });
    
  });
  
</script>

<div class="container">
  <div class="row">
    <h1 class="text-center gold-shadow">Videos</h1>
    <video id="videoarea" controls="controls" poster="" src="" >Video Not Supported</video>
      
    <ul id="playlist"> <h3> - Dueling Pianos @ Tilted Kilt</h3>
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447236/Whats_Up_TiltedKilt06-02-16.mp4">What's up?</li>
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447247/Great_Balls_Of_Fire_TiltedKilt06-02-16.mp4">Great Balls Of Fire</li>          
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447252/Bennie_and_the_Jets_TiltedKilt06-02-16.mp4">Bennie And The Jets</li>      
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447250/Dont_Stop_Believin_TiltedKilt06-02-16.mp4">Don't Stop Believing</li>
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447237/Joy_To_The_World_TiltedKilt06-02-16.mp4">Joy To The World</li>
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447243/Mary_Janes_Last_Dance_TiltedKilt06-02-16.mp4">Mary Jane's Last Dance</li>
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447227/Girls_Just_Wanna_Have_Fun_TiltedKilt06-02-16.mp4">Girls Just Wanna Have Fun</li>
        <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485703799/Thats_Amore_Tilted_Kilt06-02-16.mp4">That's Amore</li>
    </ul>
    <ul id="playlist"> <h3> - Zebra Lounge Chicago</h3>
      <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485704435/ZebraLounge-FlyMeToTheMoon.mp4">Fly Me To The Moon</li>
      <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485482609/ZebraLounge_FriendsInLowPlaces480p.mp4">Friends In Low Places</li>
      <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447200/ZebraLounge_-_Hallelulah_I_Love_Her_So.mp4">Hallelujah! I Love Her So</li>
      <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485447201/ZebraLounge_-_Like_A_Prayer.mp4">Like A Prayer</li>
      <li movieurl="http://res.cloudinary.com/dl4upkour/video/upload/v1485704097/ZebraLounge_IBeliveInAThingCalledLove.mp4">I Believe In A Thing Called Love</li>
    </ul>
    <ul id="playlist"> <h3> - Columbia College </h3>
      <li movieurl="https://res.cloudinary.com/dl4upkour/video/upload/v1485455470/Paul_Goldman_-_Spain_Chick_Corea_Akoustic_Band.mp4">Chick Corea - Spain</li>
      <li movieurl="https://res.cloudinary.com/dl4upkour/video/upload/v1485455472/Paul_Goldman_-_Moving_Too_Fast_Jason_Robert_Brown_Cover.mp4">Jason Robert Brown - Movin' Too Fast</li>
    </ul>
    <!--<ul id="playlist"> <h3> - Twitch.TV Highlights </h3>-->
    <!--  <li movieurl="https://youtu.be/NlhpGu71h0k">Keep Your Hands Off My Baby</li>-->
    <!--</ul>-->
  </div>
  <!--</div>-->
</div>