/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography styles
h1, h2, h3, h4 {
  font-family: 'Exo 2', sans-serif;
  color: white;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  line-height: 150%;
}
// Nav Styles
// .navbar {
//   width: 100%;
//   // margin-top:6px;
//   border-bottom: 1px solid black;
//   position:absolute;
//   display: inline-block;
// }

.navbar-default .navbar-toggle .icon-bar{
  background-color:white;
}

.navbar-default .navbar-toggle{
  border:2px solid white;
  &:hover, &:focus{
    background-color:rgba(122,188,255,1);
    // color:#FDFFED;
  }
}


// Nav text styles + hover
.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a  {
  font-family: "Exo 2", sans-serif;
  color:#FDFFED;
  &:hover,  {
    background-color: RGBA(255,255,255,0.2);
    transition: background-color 0.2s ease;
    color:#FDFFED;
    // box-shadow: 0 0 1px 1px black;
    // color:#FFE9A5;
    // text-shadow: 1px 1px 5px white;
    // opacity:0.90;
  }
}

.navbar-default .dropdown-menu {
  background-color:none;
  color:#FDFFED;
  &:hover, &:focus, &:active {
    background-color: rgba(255,255,230,0.1);
    color:#FFE9A5;
    
  }
}

#media-dropdown {
    background-color: rgba(255,255,230,0.1);
}

#media-dropdown li {
  color: #FDFFED;
}

.navbar-brand{
    font-family: "Exo 2", sans-serif;
    padding-top: 14px ;
    position: relative;
    
    // height: 60px;
}

.navbar-static-top {
    margin-top: 0px;
    padding-top: 20px;
    height: 40px;
    // padding: 10px;
}

html, body {
  height: 100%;
}
//Background gradient
.navbar, .home-callout, body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e78+0,134657+40,122e46+59 */
background: rgb(0,110,120); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,110,120,1) 0%, rgba(19,70,87,1) 40%, rgba(18,46,70,1) 59%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,110,120,1) 0%,rgba(19,70,87,1) 40%,rgba(18,46,70,1) 59%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,110,120,1) 0%,rgba(19,70,87,1) 40%,rgba(18,46,70,1) 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e78', endColorstr='#122e46',GradientType=1 ); /* IE6-9 */

background-size: cover;
// background-repeat: no-repeat;

}

.home-callout {
  color: white;
  // margin-top: -20px;
  padding-top: 75px;
  padding-bottom: 100px;
  // border-bottom: 7px dashed white;
  
}
// ABOUT Page list style
.about-artist-list{
  list-style: none;
}

.container {
  padding-top:50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .photo{
  margin: 8px;
}

.jumbotron{
  display: flex;
  align-items: center;
  // background-color: black;
  background-size: cover;
  color: #ffffff;
  // height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

/* VIDEO STYLES */

#playlist {
    display:table;
    text-align: justify;
}
#playlist li{
    cursor: pointer;
    padding: 8px;
    color: white;
    font-size: 16px;
    list-style: none;
}

#playlist li:hover{
    color: DeepSkyBlue;                        
}
#videoarea {
    float: right;
    width:640px;
    // height:480px;
    margin:10px;    
    // border:1px solid silver;
}

// FOOTER STYLES
#footer-social {
  color:white;
  display:inline;
  margin: 200px;
  padding: 145px;
}

#copyright-text {
  color:#FDFFED;
}