/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';


html {
  // min-height: 100%;
  // position: relative;
}
// Typography styles
h1, h2, h3, h4 {
  font-family: 'Bowlby One SC', sans-serif;
  color: #222222;
  // margin-top: 50px;
  margin-bottom: 44px;
  padding-bottom: 14px;
  border-bottom: 1px solid gray;
}

p {
  font-family: 'Garamond', serif;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
  color: #333;
}

p a:hover{
  text-decoration: none;
}

.gold {
  color: rgb(177,128,42);
}
 /*
 / NAV STYLES
*/
.navbar-fixed-top{
  position: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.navbar-header {
  margin-left: -15px;
  margin-right: -15px;
  // background: rgba(0,0,0,0.8);
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:white;
}

.navbar-default .navbar-toggle{
  // float: right;
  border:2px solid white;
  &:hover, &:focus{
    background-color: #333;
    // cursor: pointer;
  }
}
.navbar-brand {
  margin-left: auto;
  img{
  float: left;
  width: 100%;
  height: auto;
  }
}

// Nav text styles + hover
.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a  {
  font-family: "Exo 2", sans-serif;
  font-size: 1.3em;
  color: rgba(255,220,113, 0.7);
  &:hover,  {
    // background-color: RGBA(255,255,255,0.5);
    transition: color 0.3s ease;
    color: rgba(255,220,113,1);
  }
}

.navbar-default .dropdown-menu {
  background-color:RGBA(0,0,0,0.8);
  &:hover, &:focus, &:active {
    background-color: rgba(0,0,0,0.8);
  }
}

#media-dropdown {
    background-color: rgba(0,0,0,1.0);
}

#media-dropdown li a {
  // color: #FDFFED;
  background-color: rgba(0,0,0,1.0);
  :hover{
    background-color: rgba(0,0,0,1.0);
  }
}

body {
  // height: 100%;
  // overflow-x: hidden;
  margin-top: 28px;
  margin-bottom: 50px;
  padding-top: 1.5%;
  background-color: #eee;
}

#about-img {
  float: right;
  width: 20%;
  height: auto;
  margin-left: 20px;
  margin-bottom: 12px;
}

#songlist {
  height: 100%;
  max-height: 600px;
  position: relative;
}
// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// .gallery .photo{
//   margin: 8px;
// }

/* VIDEO STYLES */

#playlist {
    display:table;
    text-align: justify;
}
#playlist li{
    font-family: 'Garamond', sans-serif;
    cursor: pointer;
    padding: 8px;
    color: black;
    font-size: 16px;
    list-style: none;
}

#playlist li:hover{
    // color: DeepSkyBlue;    
    text-shadow: 0.25px 0.25px 0.25px #000000;
}
#videoarea {
    float: right;
    width: 50%;
    max-height: 500px;
    margin-left: 15px;    
    // text-align: center;
    // border:1px solid silver;
}

// FOOTER STYLES
footer {
  background-color: RGBA(0,0,0,1);
  width: 100%;
  position: absolute;
  // text-align: center;
  // background-image: url("https://res.cloudinary.com/dl4upkour/image/upload/v1485445956/Twitch_AVATAR.png");
  // background-repeat: no-repeat;
  // background-origin: content-box;
  // background-size: 15%;
  // margin-top: -24px;
}

#footer-logo {
  float: left;
  width: 20%;
  text-align: center;
  // margin-left: auto;
  align-items: center;
  img {
    margin: auto;
    height: 100%;
    width: 100%;
    // position: fixed;
    
  }
}
#footer-social {
  // float: right;
  width: 100%;
  color:rgb(177,128,42);
  display: inline-block;
  margin: 0 auto;
  padding: 25px;
  // position: fixed;
  // background-image: url("http://res.cloudinary.com/dl4upkour/image/upload/v1485445956/Twitch_BANNER.png")
}

/* FONT-AWESOME RESIZING
*
*/

.fa {
  // font-size: 20px;
  // font-size: 6vw;
}

#footer-social a {
  margin: auto 14px;
  &:hover {
    cursor: pointer;
  }
}

#copyright-text{
  margin: auto 20px;
  clear: both;
  font-size: 0.75em;
  // padding-right: 45px;
  letter-spacing: 0.05em;
  a {
    color: #eee;
  }
  display: inline-block;
  // border: 15px solid white;
}

img.home-image {
  height: 100%;
  width: 100%;
}

#home-minus-background {
  background-image: url("https://res.cloudinary.com/dl4upkour/image/upload/o_29/v1485288226/psalm4.png");
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

#home-sub-title{
  letter-spacing: 0.2em;
  border: none;
}
#home-name {
  font-size: 4.5em;
  font-weight: bold;
  border: none;
  margin-top: 34px;
}

// * {
//   border: 1px solid red;
// }
// @media screen and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
//   * {
//     border: 1px solid green;
//   }
// }
// @media screen and (max-width: 480px) and (min-width: 10px) { 
//   // .col-ts-12 { float: none; }
//   border: 5px solid yellow;
// }

@media screen and (max-width: 400px) and (min-width: 300px){
  .fa {
    font-size: 30px;
  }
}
.vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}