/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography styles
h1, h2, h3 {
  font-family: 'Exo 2', sans-serif;
  color: white;
}

// Nav Styles
.navbar {
  border-bottom: 1px solid black;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:white;
}

.navbar-default .navbar-toggle{
  border:2px solid white;
  &:hover, &:focus{
    background-color:MidnightBlue;
  }
}


// Nav text styles + hover
.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a  {
  color:white;
  &:hover {
    // background-color: rgba(255,255,230,0.2);
    box-shadow: 1px 0px 6px rgb(0,0,0);
    color:white;
    opacity:0.85;
  }
}

// .navbar-logo :hover{
//   border: 1px solid black;
// }
.navbar-brand {
    color: white;
    // opacity:0.75;
    font-family: "Special Elite";
    font-style: bold;
    font-weight:1000;

}

//Background gradient
.navbar, .home-callout, body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#729aea+0,5d88df+44,4373d3+100 */
background: rgb(114,154,234); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(114,154,234,1) 0%, rgba(93,136,223,1) 44%, rgba(67,115,211,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(114,154,234,1) 0%,rgba(93,136,223,1) 44%,rgba(67,115,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(114,154,234,1) 0%,rgba(93,136,223,1) 44%,rgba(67,115,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#729aea', endColorstr='#4373d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
  // border-bottom: 7px dashed white;
  
}